.head{
    height:50px;
}


.left{
    width:100px;
    background-color: white;
}
.picarea{
    width:700px;
    background-color: white;
}
.c_img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
    width: 200px;
}
