.treecontainer {
    width: 15%;
    height: auto;

    display: grid;
    grid:
    "title1" 50px
    "firsttree" 250px
    "title2" 50px
    "secondtree" 100px
    "title3" 50px
    "thirdtree" 120px
    / 1fr;
    gap: 8px;
}
.title1{ grid-area: title1;}
.firsttree { grid-area: firsttree;width: 90%;margin: 5%}
.title2{ grid-area: title2;}
.secondtree { grid-area: secondtree;width: 90%;margin: 5%}
.title3{ grid-area: title3;}
.thirdtree { grid-area: thirdtree;width: 90%;margin: 5% }